@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: #5c6fda;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  background-color: white;
  width: 30vw;
  height: 65vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 50px 0;
}

.form-container input {
  width: 85%;
  height: 45px;
  background-color: #f6f7f9;
  outline: none;
  border: 1px solid rgb(230, 225, 225);
  margin: 25px 15px 15px;
  padding: 12px;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  border-radius: 2px;
}
.form-container h2 {
  font-size: 2rem;
  color: #666666;
}
.form-container p {
  margin: 10px 0;
  font-size: 1.3rem;
  color: #6d6d6d;
  margin-bottom: 60px;
}
.login-btn {
  width: 85%;
  height: 60px;
  background-color: #4d61d1;
  border: none;
  outline: none;
  border-radius: 1px;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
  cursor: pointer;
  margin-top: 50px;
}

.login-btn:hover {
  background-color: #344bd3;
}
.signup-redirect {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 15px;
}
.signup-redirect:hover {
  border: 1px solid white;
}
.redirect-link {
  color: black;
  text-decoration: none;
}
.redirect-link:visited {
  color: black;
}
.main-container {
  display: flex;
  position: relative;
}
.sidebar-cont {
  display: flex;
  flex-direction: column;
  /* border-right: 1px solid rgb(210, 207, 207); */
  min-width: 450px;
  height: 100vh;
  position: relative;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
/* header */
.header {
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.square {
  border: none;
  outline: none;
  width: fit-content;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 5px 7px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  background-color: white;
}
/* .horizontal-rule {
  position: absolute;
  top: 96px;
  left: 31px;
  width: 89%;
  border-top: none;
  border-right:none ;
  border-left: none;
  border-bottom:1px solid rgb(224, 221, 221) ;
} */
/* main-content */
.main-content {
  padding: 0px 20px 10px;
  overflow-y: scroll;
  position: relative;

}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(227, 222, 222);
}
.input {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
  margin-bottom: 25px;
  border: 1px solid #4d61d1;
  border-radius: 5px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
.search-input {
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  /* border: 1px solid #4d61d1; */
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  caret-color: #4d61d1;
  font-family: "Lato", sans-serif;
}
.searchBtn{
  border-radius: 5px;
  width: fit-content;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 5px;
}
.searchPlane{
  font-size: 1.8rem;
  color: #4d61d1;
}
.status{
  width: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  margin-bottom: 10px;
  font-weight: 500;
  color: #59595b;
}
/* chat-card */
.chat-card {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  height: 70px;
  margin: 15px 0;
  position: relative;
  transition: all 0.2s ease-out;
}
.chat-card:hover {
  transform: scale(1.01);
  cursor: pointer;
}
.profile-img {
  margin-left: 30px;
  margin-right: 10px;
}
.profile-img img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.chat-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 20px;
}
.chat-info .chat-name {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: rgb(29, 28, 28);
}
.last-chat {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgb(119, 118, 118);
  font-size: 0.8rem;
}
.msg-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7484e0;
  color: white;
  position: absolute;
  right: 30px;
  font-size: 12px;
}
/* user-profile */
.user-profile {
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: white;
  z-index: 2;
  overflow: hidden;
  transition: 0.2s all;
  /* display: none; */
}
.user-profile .header {
  width: 450px;
}
.user-profile .header .back-btn {
  outline: none;
  background-color: white;
  border: none;
  cursor: pointer;
}
.profile-photo {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.profile-photo .revealing-image {
  height: 220px;
  width: 222px;
  border-radius: 50%;
}
.revealing-image {
  transform: scale(0);
  transition: all 0.2s ease-out; /* Add a CSS transition to smoothly reveal the image */
  transition-delay: 0.3s;
}
.user-profile.revel .revealing-image {
  transform: scale(1);
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 40px;
  padding-right: 25px;
  width: 450px;
}
.user-info label {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #4d61d1;
}
.user-info div {
  display: flex;
  padding: 15px 0 0 0;
  width: 100%;
  align-items: end;
}
.user-info div input {
  font-family: "Poppins", sans-serif;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.1rem;
}
.user-info div input:disabled {
  background-color: white;
  color: black;
}
.user-info div .edit-btn {
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer;
}
.user-info .logout {
  width: 150px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
  border: 2px solid #4d61d1;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
}
.user-info .logout:hover {
  background-color: #4d61d1;
}
.user-info .logout:hover p {
  color: white;
}
.user-info .logout:hover .logout-icon {
  color: white;
}
.user-info .logout p {
  font-size: 1rem;
}

/* mainbar */
.mainbar-cont {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100vh;
}
.mssg-input {
  display: flex;
  width: 100%;
  /* position: absolute;
  bottom: 0;
  left: 0; */
  align-self: baseline;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  min-height: 70px;
  align-items: center;
  justify-content: start;
  padding: 10px 10px 20px;
}
.mssg-input input {
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 75%;
  font-size: 1.2rem;
  padding: 0 15px 0 5px;
  outline: none;
  border: none;
}
.mssg-input .image-btn {
  margin: 0 10px 0 15px;
  outline: none;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.add-image {
  font-size: 30px;
  color: #5a5b5d;
}
.mssg-input .send-btn {
  margin: 0 20px 0 20px;
  height: 40px;
  width: 100px;
  outline: none;
  border: none;
  background-color: #4d61d1;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 5px;
  color: white;
}
.mssg-input .send-btn:hover {
  background-color: #344bd3;
  cursor: pointer;
}

.mainbar-header {
  display: flex;
  padding: 15px 15px 20px;
  position: relative;
  /* top: 0;
  left: 0; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  width: 100%;
  align-items: center;
}
.mainbar-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px 0 5px;
}
.chat-person-name {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: #2c2e32;
}
.chat-person-email {
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
  font-weight: 300;
  color: #59595b;
}
.more-info {
  position: absolute;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: white;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 5px 5px;
}
.more-info:hover {
  background-color: rgba(240, 233, 233, 0.796);
}
.circle {
  width: 5px;
  height: 5px;
  background-color: #4d61d1;
  border-radius: 50%;
}
.deletechat-modal {
  width: 150px;
  height: 60px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
  right: 50px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clear-chat {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-color: white;
}
.clear-chat:hover {
  background-color: rgb(242, 241, 241);
}

.messages{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  padding: 10px 30px 0 40px ;
}
.message-row{
  display: flex;
  align-items: center;
  height: fit-content;
}
.message-container{
  width: fit-content;
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 10px 30px 0 10px;
  max-width: 45%;
  min-height: 60px;
  background-color: #7d8de9;
  margin: 10px 0 ;
  position: relative;
  border-radius: 0 10px 10px 10px;
}
.message-container p{
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;

}
.message-container span{
  font-family: "Poppins", sans-serif;
  position: absolute;
  bottom: 2px;
  right: 5px;
  font-size: 12px;
  color: white;
  font-weight: 200;
}

/* SearchedUser */
.searched{
  margin-bottom: 20px;
}
.seperator{
  margin-bottom: 30px;
  border: none ;
  border-bottom: 1px solid #5c6fda;
}
.chat-email{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: rgb(119, 118, 118);
  font-size: 0.8rem;

}